.display {
    font-size: 3rem;
    width: 100%;
    text-align: right;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;





}

body {
    background-image: url(scattered-forcefields.svg);

}

.btn {
    width: 100%;
    height: 50px;
    background: rgb(229, 237, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    height: 80px;
   
    


}

.btn:hover {
    background: royalblue;
}

.btn-eq:hover {
    background: rgba(222, 158, 225,0.5);
}


.c {
    margin-top: 150px;
    justify-self: center;

}
